@charset "UTF-8";
.parent {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    background-image: url('../image/main_image.jpg');
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.panel{
   position: absolute;
   top: 50%;
   left: 40%;
   margin: -110px 0 0 -110px;
   width: 500px;
   background-color: rgba(214, 21, 87, 0.8); 
  }
  
 .input-group-addon{
	 font-size: 20px;
	 margin-left:40px;
	 color:white;
	 
 }
 
 .form-control.ng-untouched.ng-pristine.ng-invalid{
	 width:330px;
	 float: right;
	 margin-right:30px;
	 resize: none;
 }
 
  .form-control.ng-untouched.ng-dirty.ng-invalid{
	 width:330px;
	 float: right;
	 margin-right:30px;
	 resize: none;
 }
 
   .form-control.ng-untouched.ng-dirty.ng-valid{
	 width:330px;
	 float: right;
	 margin-right:30px;
	 resize: none;
 }
 
  .form-control.ng-dirty.ng-touched.ng-valid{
  	 width:330px;
	 float: right;
	 margin-right:30px;
	 resize: none;
 }
 .form-control.ng-dirty.ng-touched.ng-invalid{
 width:330px;
	 float: right;
	 margin-right:30px;
	 resize: none;
 }
 
 .error
 {
 	 color:white;
 	 text-align: center;
 }
 
.btn { 
	 position: relative;
	 font-weight: bold;
	 color: white;
	 text-decoration: none;
	 text-shadow: 0 -1px 1px #cc5500;
	 user-select: none;
	 padding: .8em 2em;
	 outline: none;
	 border-radius: 1px;
	 background: linear-gradient(to left, rgba(0,0,0,.3), rgba(0,0,0,.0) 50%, rgba(0,0,0,.3)), linear-gradient(#d77d31, #fe8417, #d77d31);
	 background-size: 100% 100%, auto;
	 background-position: 50% 50%;
	 box-shadow: inset #ebab00 0 -1px 1px, inset 0 1px 1px #ffbf00, #cc7722 0 0 0 1px, #000 0 10px 15px -10px;
	 transition: 0.2s;
	 margin-top:10px;
	 margin-bottom:20px;
	 display: block;
	 margin-left: auto;
	 margin-right: auto 
} 
button.btn:hover { background:  #8B4513; } 
button.btn:active { 
	background: #8B0000; 
	box-shadow: 0 3px rgb(33,147,90) inset;
	color:#E9967A; 
}

.navbar-header.navbar-brand{
	font-size: 30px;
	margin-top:10px;
	margin-bottom:20px;
	text-align: center;
	color:white;
}

.ref
{
	display: block;
    text-align: center;
    margin-bottom:20px;
	color:white;
	opacity:0.8;
}

.header { 
   float:left;
   background-color: rgba(214, 21, 87, 0.7); 
   width:100%;
}
.image-header
{
	width:40px;
	height:50px;
	margin-top:8px;
	float:left;
	margin-left:20px;
}

.call-header{
	top:0;
	float:left;
	font-size: 50px;
	margin-bottom:10px;
	color:#fff;
margin-left:20px;
}

.btn-header
{
color:white;
margin-top:20px;
 font-size: 20px;
 margin-right:20px;
 float: right;
}
.btn-header:hover { text-decoration: underline;} 
.btn-header:active {
	color:#E9967A; 
	text-decoration: underline;
}
